/*styling.css*/
/* The styling and layout for HTML files */

/* Global styles */
body {
    font-family: 'Georgia', sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Helvetica', cursive;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Helvetica', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    color: #22517c; /* Dark blue text color */
}

h1 {
    font-size: 24px; /* Adjust the font size as needed */
    margin: 10px 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}

/* Apply CSS styles to the small elements within the h1 tags */
h1 small {
    font-size: 18px; /* Adjust the font size as needed */
}

p 
{
    font-family: 'Helvetica', cursive;
    font-size: 24px;
    color: #22517c; /* Dark blue text color */
}

header p {
    font-size: 18px;
    color: #22517c; /* Dark blue text color */
}

main 
{
    background-color: #f0f0f0; /* Light grey background */
}

footer 
{
    background-color: #f0f0f0; /* Light grey background */
}

/* Navigation Style */
nav {
    font-family: 'Georgia', cursive;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 155px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Dark gray text color */
}

nav ul li a:hover {
    background-color: #22517c; /* Dark blue on hover */
    color: #fff; /* White text color on hover */
}

.textbox 
{
            width: 100%; /* Set the width to span the webpage */
            max-width: 100%; /* Make sure it doesn't exceed the webpage width */
            height: auto; /* Automatically adjust the height to fit the content */
            background-color: #22517c; /* Background color of the box */
	    font-size: 20px;
            color: #fff; /* Text color inside the box */
            padding: 10px; /* Padding inside the box */
            text-align: center; /* Center-align the text inside the box */
}
.textbox p
{
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 18px;
    background-color: inherit;
    color: #333;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
}

.header-content 
{
    text-align: center;
    margin-top: 20px;
}

.header-content h1 
{
    font-size: 40px;
    color: #22517c;
    margin-right: 20px;
}

.header-content div 
{
    font-family: 'Helvetica', cursive;
    font-size: 24px;
    color: #22517c;
}

.header-text 
{
    /* Adjust margin as needed to control the space between the logo and 			  text */
    margin-right: 140px;
    text-align: center; /* Align text to the left */
    color: #22517c; /* Dark blue text color */
}
/* Class selectors */
.menu-item {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #22517c; /* Dark blue text color */
}

.menu-item li {
    display: inline;
    margin-right: 20px;
    background-color: #f0f0f0; /* Light gray background for boxes */
    padding: 10px 20px;
    border-radius: 5px;
}

.featured-box {
    background: linear-gradient(to right, #092907, #9b9b9b);
}

/* ID selectors */

/* Apply CSS styles to the logo */
#logo 
{
     max-width: 150px;
     float: left; /* This will make the logo appear on the left */
     margin-left: 50px;
}

#my-id {
}

